/************ Base ************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import url('normalize.css');

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(230, 25%, 95%);
    
    --cyan: hsl(180, 66%, 49%);
    --dark-violet: hsl(257, 27%, 26%);

    --red: hsl(0, 87%, 67%);

    --gray: hsl(0, 0%, 75%);
    --grayish-violet: hsl(258, 7%, 63%);
    --very-dark-blue: hsl(255, 11%, 22%);
    --very-dark-violet: hsl(260, 8%, 14%);
}

html {
    box-sizing: border-box;
}
  
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: var(--white);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--very-dark-blue)
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/************ Utilities ************/

.hidden {
    display: none;
}

.t-center {
    text-align: center;
}

/************ Header ************/

.header {
    padding: 30px 20px 15px;
}

.header__flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-svg {
    width: 120px;
}

.hamburger-svg {
    width: 40px;
}

/************ Main ************/

/* Intro */

.intro__illustration {
    padding-bottom: 10px;
}

.intro__illustration-img {
    max-width: 540px;
    display: block;
    margin: 0 auto;
    padding: 0 20px;
}

.intro__title {
    font-size: 2.2em;
    margin-bottom: 15px;
}

.intro__description {
    margin-top: 0;
    padding: 0 20px 30px;
    line-height: 1.6em;
    color: var(--grayish-violet);
}

.intro__link,
.boost__link {
    background-color: var(--cyan);
    color: var(--white);
    font-weight: 700;
    letter-spacing: 1px;
    padding: 15px 38px;
    border-radius: 50px;
    cursor: pointer;
}

/* Shorten URL */

.short-url__box {
    max-width: 330px;
    background-color: var(--dark-violet);
    margin: 0 auto;
    padding: 22px;
    border-radius: 8px;
    background-image: url('../images/bg-shorten-mobile.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 240px;

    position: relative;
    top: 80px;
}

.form-box {
    padding: 12px;
    border-radius: 8px;
    border: none;
    height: 50px;
}

.short-url__input {
    max-width: 100%;
    margin-bottom: 15px;
    font-size: 0.9em;
}

.short-url__btn {
    background-color: var(--cyan);
    margin: 0 auto;
    color: var(--white);
    width: 100%;
    font-weight: 700;
}

/* Statistics */

.stats {
    background-color: var(--light-gray);
    text-align: center;
    padding: 140px 0 1px;
}

.stats__pos {
    padding-bottom: 80px;
}

.stats__title {
    font-size: 1.4em;
}

.stats__description {
    padding: 0 20px;
    font-size: 0.9em;
    line-height: 1.6em;
    color: var(--grayish-violet);
}

.stats__card {
    margin: 0 20px 100px;
    padding: 0 25px 35px;
    background-color: var(--white);
    border-radius: 5px;
}

.stats__icon {
    position: relative;
    bottom: 50px;
    margin: 0 auto;
    background-color: var(--dark-violet);
    width: 85px;
    height: 85px;
    border-radius: 50%;
    text-align: center;
    line-height: 85px;
}

.stats__icon-svg {
    vertical-align: middle;
}

.stats__feature-title {
    margin-top: -20px;
}

.stats__feature-description {
    font-size: 0.9em;
    color: var(--grayish-violet);
    line-height: 1.5em;
}

/* Boost */

.boost {
    background: url('../images/bg-boost-mobile.svg');
    background-repeat: no-repeat;
    background-color: var(--dark-violet);
    color: var(--white);
    padding: 100px 0;
    text-align: center;
}

.boost__description {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0 0 40px;
}

/************ Footer ************/

.footer {
    background-color: var(--very-dark-violet);
    color: var(--white);
    text-align: center;
    padding: 60px 0 0;
}

.logo-svg--white {
    margin-bottom: 30px;
}

.footer__list {
    margin-bottom: 35px;
}

.footer__list-title {
    color: var(--white);
    font-size: 0.9em;
}

.footer__ul {
    list-style-type: none;
    padding-left: 0;
}

.footer__ul-item {
    color: var(--gray);
    font-size: 0.8em;
    line-height: 2em;
    cursor: pointer;
}

.social {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 30px;
    padding: 20px 0;
    max-width: 170px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
